@media only screen and (max-width: 812px){

  header {
    width: 100%;
    color: blue;
  }

  main {
    display: unset;
  }
  
  .current-call h3 {
    font-size: 2vw;
  }

  .fun-fact-spot h3 {
    font-size: 8vw;
  }
}
 