@font-face {
  font-family: chalkFont;
  src: url('DkMidnightChalkerRegular-lGWV.otf');
}

body {
  margin: 0;
  font-family: 'chalkFont', sans-serif;
}
header {
  color: #ffffff;
  height: 100px;
  width: 100%;
  background-size: cover;
  border-bottom: dotted 1px #FAFAFA;
}
header h1 {
  margin: 0px;
  padding: 30px;
}
body {
  background-image: url("https://i.pinimg.com/originals/43/30/c1/4330c19513981171ac27f0ac56dd3bad.jpg");


}
main {
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  grid-template-rows: 25% 25% 25%;
  grid-gap: 10px;
  /* background-color: #FAFAFA; */
  color: #FAFAFA;
  margin: 10px 50px 10px 50px;
}
.current-call{
  display:grid;
  align-items: center;
  margin-left: 10px;
}
.current-call h3 {
  grid-column: 1;
  font-size: 2vw;
  text-transform: uppercase;
  margin-left:50px;
}
.fun-fact-spot h3 {
  grid-column: 1;
  justify-self: center;
  font-size: 2vw;
  text-transform: uppercase;
}
.current-call p {
  grid-column: 2;
  align-items: start;
  margin:0;
  font-size: 8vw;
}

.fun-fact-spot {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  /* justify-self: center; */
  padding-left: 50px;
}

.fun-fact {
  font-size: 1.3vw;
  /* text-shadow: 2px 2px 30px; */
  /* this was fun  - made it feel like it was being written and then erased and written over*/
}

#next-button {
  grid-column: 1;
  grid-row: 3;
  align-self: center;
  /* justify-self: center; */
  margin: 50px;
  height: 50px;
  width: 75%;
  background-color: #9FA1A2;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #68696B;
  font-weight: bold;
}
#next-button:hover {
  background-color: #68696B;
  border-radius: 15px;
  color: #FAFAFA;
  font-weight:bold;
}
h4 {
  font-size: 2vw;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

.not-yet-called {
  grid-column: 2;
  justify-self: center;
}

.have-called {
  grid-column: 3;
  justify-self: center;
}

.not-yet-called ol, .have-called ol {
  /* background-color: #9E81A6; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  /* thinking this would make it adjust as items move from one list to the other? MAYBE? */
  max-height: 500px;
  width: 200px;
  list-style: none;
  /* border-radius:15px; */
  /* box-shadow: 10px 10px 8px #9FA1A2 ; */
  /* font-family: 'Arvo', serif; */
  /* border: solid .5px #FAFAFA; */
}

footer {
  text-align: center;
  color: #9E81A6;
  font-size: xx-large;
}


/* // ========================================================================================= //
        MOBILE
// ========================================================================================= // */
/* /* */

/* @media only screen and (max-height: 812px) and (max-width: 375px) {

  header {
    width: 100%;
    color: blue;
  }
  main {

  }
} */





/* // ========================================================================================= //
// ========================================================================================= // */
/* 
- need to make the current number larger
- need to make the fun fact larger and stylish
- style the next button
- fix the grid layout
- do i want the divs fixed or adjusting?
- do a starter page?
 */


 /* 
 http://web-accessibility.carnegiemuseums.org/design/
 - keyboard only (no mouse)
 - large font
 - do i need to add audio to read the number called (can i even do that?)


 // ====== NOTES =====//
 - never use a div or span for a button when you could use a semantically meaningful button element
 - font vw to do resizable text 
 */


 /* alternate colors
E6E4D9 - light shades
8FADB1 - light accent
84838B - main brand color
979BA5 - dark accent
101414 - dark shades
*/

