@media only screen and (max-width: 800px){
  main {
    display: unset;
  }
  header {
    width: 100%;
  }

  /* */
  /*  */

  .current-call h3 {
    font-size: 6vw;
  }
  #current-call-display {
    font-size: 15vw;
  }

  .fun-fact-spot h3 {
    font-size: 6vw;
  }
  .fun-fact {
    font-size: 6vw;
    margin-right: 50px;
    text-align: justify;
  }

  #next-button {
    margin: 50px;
  }

  .not-yet-called {
    display: flex;
    flex-direction: column;
  }
  .not-yet-called h4 {
    display: flex;
    font-size: 5vw;
    align-self: center;
  }

  #ol-need-to-call {
    align-self: center;
  }

  .have-called {
    display: flex;
    flex-direction: column;
  }
  .have-called h4 {
    display: flex;
    font-size: 5vw;
    align-self:center;
  }

  #ol-have-called {
    align-self: center;
  }

  /* .tablet {
    display: grid;
    grid-column-start: 3;
  } */
}

/* what if on tablet (and mobile) i do a toggle between called & not called */