@media only screen and (max-width: 800px){
  main {
    display: unset;
  }
  .current-call h3 {
    font-size: 6vw;
    padding: 40px 0 0 40px;
  }
  #current-call-display {
    font-size: 15vw;
    padding-top: 40px;
  }

  .fun-fact-spot h3 {
    font-size: 6vw;
    margin: 50px;
  }
  .fun-fact {
    font-size: 6vw;
    /* margin: 0 50px 0 50px; */
    /* this works for tablet but messes with iPhone. Why */
    text-align: justify;
  }

  #next-button {
    margin: 50px 0 50px 80px;
  }

  .not-yet-called, .have-called {
    display: flex;
    flex-direction: column;
  }
  .not-yet-called h4, .have-called h4 {
    display: flex;
    font-size: 5vw;
    align-self: center;
  }

  #ol-need-to-call, #ol-have-called {
    align-self: center;
    font-size: 5vw;
  }
}